html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  display: flex;
  min-height: 100vh;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(5,82,98,1) 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.play-button {
  width: 10%;
  border: none;
  background: transparent;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.play-button:focus {
  outline: none;
}


.video-player {
  max-width: 750px;
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
}

.player-controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: 0.3s;
  flex-wrap: wrap;
  background: transparent;
}

.video-player:hover .player-controls {
  transform: translateY(0);
}

.video-player:hover .video-progress {
  height: 20px;
}
